body {
    background-color: #464646;
    margin: 0;
    
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    background:linear-gradient(#001a2c , #00111c);
    padding: 25px;
    border: 5px solid #00406c;
    border-radius: 5px;
    
}

#home-score , #guest-score {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: #010a1b;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #00406c;
}

h3 {
    text-align: center;
    color: lightblue;
    text-decoration: underline lightblue;
}

.home-Add {
    color: black;
    text-shadow: 2px 2px 2px black;
}

.guest-Add {
    color: #003a61;
    text-shadow: 2px 2px 2px black;
}

#home-1-add , #home-2-add , #home-3-add {
    border: 2px solid #00111c;
    color: lightblue;
    background-color: #002137;
}

#guest-1-add , #guest-2-add , #guest-3-add {
    border: 2px solid #00111c;
    color: lightblue;
    background-color: #002137;
}

#btn-reset {
    position: relative;
    bottom: 100px;
    left: 268px;
    background-color: #002137;
    color: lightblue;
    border: 4px solid #00111c;
}



