*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

body {
  background-color: #F5F7FB;
  font-family: "Karla", sans-serif;
  color: #293264;
  position: relative;
  /* overflow: hidden;  */
}

.bg-img {
  position: absolute;
  pointer-events: none; 
  z-index: 0;        
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.welcome {
    position: relative;
    z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    flex-direction: column;
    height: 100%;
    margin: 0;   
}

.welcome > h1 {
  margin-bottom: 0.4em;
}

.welcome > button {
  width: 192px;
  height: 52px;
  border: none;
  border-radius: 16px;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: "Karla", sans-serif;
  margin: 1.5em;
  cursor: pointer;
  font-size: 1rem;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
    font-family: "Karla", sans-serif;
}

.question-block {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E7EB;
}

.question-text {
    color: #293264;
    font-size: 1.1rem;
    margin-bottom: 12px;
}

.answers-row {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.answer-btn {
    background-color: transparent;
    padding: 6px 16px;
    font-size: 0.85rem;
    cursor: pointer;
    font-family: "Karla", sans-serif;
    gap: 10px;
}

.answers-row input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.answers-row label {
  display: flex;
  flex-direction: column;
  padding: 0.25em 0.75em;
  font-family: "Karla", sans-serif;
  cursor: pointer;
  border: 1px solid #4D5B9E;
  color: #293264;
  border-radius: 10px;
  background-color: transparent;
}

.check-btn {
    display: block;
    margin: 30px auto 0 auto;
    background-color: #4D5B9E;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Karla", sans-serif;
}

.check-btn:hover {
    background-color: #343e70;
}