*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #035A9D;
    --black: #333333;
    --accent: #EFF0F4;
}

html { 
    scroll-behavior: smooth;
    height: 100%;
}
body {
    font-family: "Inter", sans-serif;

}


/* header section  */
.header {
    display: flex;
    justify-content: center;
    background-image: url(assets/worldmap.png);
    background-size: contain;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 {
    color: #32CD32;
    font-size: clamp(1.5rem, 3vw, 3rem);    
}
.logo span {
    color: var(--accent);
    font-weight: 200;
    font-size: clamp(1rem, 2vw, 2rem);
} 
.logo img {
    width: 25vw;
    max-width: 100%;
    height: auto;
    padding: 1em;
}


/* main section */
main {
    margin: 3em;
    margin-bottom: 2em;
    border: 2px solid var(--black);
    border-radius: 3px;
}

.form-section {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form-section label {
    color: var(--blue);
    font-weight: 400;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.language-list {
    list-style: none;
    padding: 0;
    max-width: 250px; 
}

.language-list li {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;           
    padding: 8px 0;
    border-bottom: 1px solid var(--accent);
    color: var(--black);
    font-weight: 700;  
}
.language-list li:hover {
    opacity: 0.7;
    cursor: pointer;
}
.language-list li:active {
    color: var(--blue);
}
.language-list img {
    width: 24px;
    height: auto;
    border: 2px solid var(--black);
}
.language-header {
    color: var(--blue);
    font-weight: 400;
    font-size: clamp(1rem, 5vw, 1.5rem);
}
.translate-btn {
    border: 2px solid var(--black);
    border-radius: 3px;
    color: var(--accent);
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-weight: 600;
    background-color: var(--blue);
    padding: 1em 4em;
}

.translate-btn:hover {
    cursor: pointer;
    background-color: #035a9dd1;
}


.response {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.translation-area {
    width: 308px;
    height: 164px;
    resize: none;
    border: 2px solid var(--black);
    background: var(--accent);
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: 700;
    color: #545454;
    padding: 0.5em;
}

.hidden {
    display: none;
}