body {
    margin-top: 150px;
    background-image: url("assets/neon-sumer-K8eWS_abimM-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Karla", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    border: 2px solid #121420;
    border-radius: 3px;
}



.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
}
#topHeading {
    color: #d9d9d9;
    font-weight: 800;
    position: relative;
    top: 20px;
}
#botHeading {
    color: #575668;
    font-weight: 800;
}
h4 {
    color: #495057;
}



.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}
#passGen {
    background-color: #2c2b3c;
    color: #808080;
    font-style: italic;
    font-weight: 600;
    border: 2px solid #343434;
    border-radius: 5px;
    padding: 7px 10px;
    position: relative;
    top: -10px; 
}
#passRes{
    background-color: #2c2b3c;
    color: hsl(0, 0%, 50%);
    font-style: italic;
    font-weight: 600;
    border: 2px solid #343434;
    border-radius: 5px;
    padding: 7px 10px;
    width: 155px;
}
#passGen:hover {
    background-color: #19182c;
    transform: scale(1.1);
    color: hsl(0, 0%, 70%); 
}
#passRes:hover {
    background-color: #19182c;
    transform: scale(1.1);
    color: hsl(0, 0%, 70%);
}



.pass {
    display: flex;
    margin: 15px;
    font-weight: 500;
}
#pass-one {
    background-color: rgba(24, 24, 47, 0.584);
    color: hsl(0, 0%, 50%);
    padding: 15px;
    width: 150px;
    height: 10px;
    border: 1px solid #343434;
    border-radius: 5px;
    position: relative;
    left: -5px;
    text-align: center;
    line-height: 10px;
}
#pass-two {
    background-color: rgba(24, 24, 47, 0.584);
    color: hsl(0, 0%, 50%);
    padding: 15px;
    width: 150px;
    height: 10px;
    border: 1px solid #343434;
    border-radius: 5px;
    position: relative;
    right: -5px;
    text-align: center;
    line-height: 10px;
}