body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: black;
    color: whitesmoke;
} 

header {
    padding-top: 5px;
    font-weight: 800;
}

.container {
    display: flex;
    flex-direction: column;
}

.food-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    gap: 20px; /* Space between sections */
}

.food-emoji {
    font-size: 2.5em;
    margin: 0;
    min-width: 60px; /* Fixed width for emoji */
}

.food-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    flex-grow: 1;
    gap: 15px;
    align-items: center;
}

.food-details h2,
.food-details h3,
.food-details p {
    margin: 0;
}

.food-details h3 {
    color: #7a7a7a;
    font-size: 0.9em;
    font-weight: 600;
}

.food-details p {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: right;
}

.food-container button {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #575757;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 50px; /* Fixed width for button */
}

#cart-items > h4 {
    text-align: left;
    margin-left: 10px;
} 
#order > h4{
    text-align: left;
    margin-left: 10px;
}
h4 > p {
    text-align: right;
    margin-right: 10px;
}